<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--
    Created by IntelliJ IDEA.
    User: marcelk
    Date: 30/01/2018
    Time: 09:19
    To change this template use File | Settings | File Templates.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>OpenSSL Benchmark</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="jumbotron">
                        <h2>OpenSSL Benchmark</h2>
                    </div>
                    <form id="benchmark" action="/run" method="post">
                        <div class="form-group">
                            <label for="checkbox-wrapper">Select the algorithm(s) to test</label>
                            <div id="checkbox-wrapper">
                                <div th:each="res: ${options}" type="checkbox" name="algorithms">
                                    <label><input type="checkbox" name="algorithms" th:value="${res}"><span th:text="${res}"></span></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="run-benchmark">Perform a benchmark in the background</label>
                        </div>
                        <input type="submit" id="run-benchmark" class="btn btn-default" value="Start Benchmark" aria-disabled="false">
                    </form>
                </div>

                <div id="benchmark_results" class="col-sm" style="display:none">
                    <div class="jumbotron">
                        <h2>OpenSSL Benchmark Results</h2>
                    </div>
                    <div id="benchmark-runner">
                        <h4>Benchmark Progression...</h4>
                        <div id="process_loader" style="width:50%; float:left">
                            <img th:src="@{/images/hourglass.svg}" src="../../images/hourglass.svg" />
                            Benchmark still running, please wait...
                        </div>
                        <table id="running" class="table table-hover compact" width="60%">
                            <thead>
                            <tr>
                                <th>Status</th>
                                <th>Algorithm</th>
                                <th>Blocks</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div id="finished-table-container" style="display:none;">
                        <h4>Benchmark results (Average Speed in KB/sec)</h4>
                        <table id="finished" class="table table-condensed table-hover" width="50%">
                            <thead>
                            <tr>
                                <th>Algorithm</th>
                                <th>Avg. Speed</th>
                            </tr>
                            </thead>
                        </table>
                        <div class="mt-4 col-md-12">
                            <a id="download_button" class="btn btn-outline-dark" href="/download" role="button">Download</a> the complete benchmark results.
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script type='text/javascript'>
            /**
             * This JavaScript section is responsible for submitting the form data. It captures a click
             * on the submit button and prevents the default action from happening. Part of the code below
             * is for getting the selected algorithms into a simple list by iterating over all options and
             * pushing the actual checked options in a list.
             *
             * The pageFormatter function is responsible for properly hiding and showing elements on the
             * page depending on the required action. This function is also used by other JS segments below.
             *
             */
            // TODO: at re-run; show loader, hide final results table. Remove fade-outs/ins, just hide..

            /* attach a submit handler to the form */
            $("#benchmark").submit(function(event) {
                /* stop form from submitting normally */
                event.preventDefault();

                if (window.OpenSSLrunning && !window.OpenSSLalldone) {
                    console.log("Already executing benchmark, please wait..");
                    return;
                }
                pageFormatter("reset");

                var selected_algo = [];
                /* get the action attribute from the <form action=""> element */
                var $form = $( this ),
                    selected = $form.find('input[name="algorithms"]:checked').each(function() {
                        selected_algo.push($(this).val());
                    }),
                    url = $form.attr( 'action' );

                /* Send the data using post with the selected algorithms */
                var posting = $.post( url, {algorithms: selected_algo} );

                posting.done(function(data) {
                    pageFormatter("start");
                })
            });

            function pageFormatter(stage) {
                if (stage === "start") {
                    window.OpenSSLrunning = true;
                    if (window.OpenSSLalldone) {
                        $("#benchmark-runner").fadeIn(400);
                        window.OpenSSLalldone = false;
                    }
                    $("#benchmark_results").fadeIn(400);
                    $("#run-benchmark").addClass("disabled");
                    $("#run-benchmark").attr("aria-disabled", "true");
                } else if (stage === "reset") {
                    $("process_loader").fadeIn(200);
                    $("#finished-table-container").fadeOut(400);
                    // Clear table otherwise it'll show old data
                    var running = $('#running').DataTable();
                    running.clear().draw();

                }

            }
        </script>

        <script type="text/javascript">
            $(function () {
                window.OpenSSLrunning = false;
                window.OpenSSLalldone = false;

                // 'Casting' the two tables to a DataTable
                var runningProcess = $('#running').DataTable({
                    paging: false,
                    searching: false
                });

                var finishedBenchmark = $('#finished').DataTable({
                    paging: false,
                    searching: false
                });

                /**
                 * Updates the 'running' table with new data by first removing all existing
                 * content and providing the complete new data set (data is not incremental).
                 */
                var fill_processing_table = function(data) {
                    runningProcess.clear().draw();
                    runningProcess.rows.add(data);
                    // Adjust column width depending on new contents (making sure it fits)
                    runningProcess.columns.adjust().draw();
                };

                /**
                 * Creates and shows (unhides) the 'results' table given the final benchmark
                 * results. It also replaces the loader with the filled table.
                 */
                var fill_results_tables = function(data) {
                    // Only show the final results if the benchmark is actually finished
                    if (data !== null) {
                        // Un-hide the results table and fill it with contents
                        finishedBenchmark.clear().draw();
                        finishedBenchmark.rows.add(data);
                        // Adjust column width depending on new contents (making sure it fits)
                        finishedBenchmark.columns.adjust().draw();
                        // Hide the 'loading' message, unhide the table.
                        $("#process_loader").delay(800).fadeOut(400, function () {
                            $("#benchmark-runner").fadeOut(400);
                            $("#finished-table-container").fadeIn(400);
                        });
                        window.OpenSSLalldone = true;
                        window.OpenSSLrunning = true;
                        $("#run-benchmark").removeClass("disabled");
                        $("#run-benchmark").attr("aria-disabled", "false");
                    }
                };

                /**
                 * Retrieves data using Jquery AJAX calls (getJSON function).
                 * Only when both calls are finished, the data is processed
                 */
                var get_data = function() {
                    $.when(
                        // Request data for any running benchmark
                        $.getJSON("/results", {status: "running"}, function (data) {
                            processing = data;
                        }),
                        // Request the final benchmark results (null when still running)
                        $.getJSON("/results", {status: "finished"}, function (data) {
                            results = data;
                        })
                    ).then(function () {
                        // Fill the tables with received data
                        fill_processing_table(processing);
                        fill_results_tables(results);
                    });
                };

                // Retrieve data every 4 seconds and update the results tables
                window.setInterval(function(){
                    if (window.OpenSSLrunning && !window.OpenSSLalldone)
                        get_data();
                }, 4000);

            });
        </script>
    </body>
</html>
